[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/booyildirim
[access "refs/for/refs/*"]
	read = group user/booyildirim
	push = group user/booyildirim
	label-Code-Review = -2..+2 group user/booyildirim
	label-Verified = -1..+1 group user/booyildirim
	rebase = group user/booyildirim
	removeReviewer = group user/booyildirim
	submit = group user/booyildirim
[access "refs/heads/*"]
	read = group user/booyildirim
	create = group user/booyildirim
	push = +force group user/booyildirim
	pushMerge = group user/booyildirim
[access "refs/tags/*"]
	push = group user/booyildirim
	push = +force group user/booyildirim
